@charset "utf-8";

/* @author SAI HOU */

/* begin of login*/
.login-body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;
    color: gray;
}

.section {
    padding: 7em 0;
}

.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
}

.wrap .img {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/login.webp);
}

.login-wrap {
    position: relative;
}

.social-media {
    position: relative;
    width: 100%;
}

.social-media .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
}

.social-media .social-icon i {
    color: #999;
}

.form-group {
    position: relative;
    z-index: 0;
    margin-bottom: 20px !important;
}

.form-group label {
    position: absolute;
}

.form-group a {
    color: #808080;
    text-decoration: none;
    background-color: transparent;
}

/* end of login */