<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="header::header('Blog 管理')">
</head>
<body class="sidebar-mini layout-fixed layout-navbar-fixed" style="height: auto">

<!-- begin of wrapper -->
<div id="categories" class="wrapper">
  <!-- nav -->
  <div th:replace="navbar::nav('カテゴリ')"></div>
  <!-- sidebar -->
  <div th:replace="sidebar::sidebar('categories')"></div>

  <!-- begin of content-wrapper -->
  <div class="content-wrapper">
    <!-- begin of content -->
    <div class="content">
      <!-- begin of container-fluid -->
      <div class="container-fluid">
        <!-- begin of card -->
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">カテゴリ管理</h3>
          </div>

          <!-- begin of card-body -->
          <div class="card-body">
            <div class="grid-btn">
              <button class="btn btn-primary" v-on:click="openEditModal()">
                <i class="fa fa-plus"></i>&nbsp;追加
              </button>
            </div>
            <br>

            <!-- begin of table -->
            <div>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">名称</th>
                  <th scope="col">作成日</th>
                  <th scope="col">編集</th>
                  <th scope="col">削除</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="category in pageResult.content">
                  <td>{{ category.id }}</td>
                  <td>{{ category.name }}</td>
                  <td>{{ category.createdDate | formatDateFilter }}</td>
                  <td>
                    <a href="javascript:" v-on:click="openEditModal(category)">
                      <i class="fa-solid fa-pen-to-square"
                         data-toggle="modal" data-target="#editModal"></i>
                    </a>
                  </td>
                  <td>
                    <a href="javascript:" v-on:click="openDeleteModal(category.id)">
                      <i class="fa-solid fa-trash-can"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- end of table -->

            <!-- pageNav -->
            <div th:replace="pagenav::pagenav"></div>
            <!-- edit modal -->
            <div th:replace="category/edit::edit"></div>
            <!-- delete modal -->
            <div th:replace="category/delete::delete"></div>
          </div>
          <!-- end of card-body -->
        </div>
        <!-- end of card -->
      </div>
      <!-- end of container-fluid -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of content-wrapper -->

  <!-- footer -->
  <div th:replace="footer::footer"></div>
</div>
<!-- end of wrapper -->

<!-- begin of vue js -->
<script type="text/javascript">
  $(() => {
    let vm = new Vue({
      el: '#categories',
      data: {
        url: 'data/categories',
        pageResult: {},
        category: {},
      },
      created: function () {
        this.list(0)
      },
      methods: {
        // 非同期でデータを取得する
        list: function (start) {
          axios.get(this.url, {
            params: {
              start: start,
            }
          }).then((response) => {
            this.pageResult = response.data
          }).catch((error) => {
            console.log(error)
          })
        },
        // ぺージナビコントロール
        goPage: function (num) {
          if (num !== this.pageResult.number) {
            this.list(num)
          }
        },
        // 編集モーダル
        openEditModal: function (category) {
          if (category) {
            this.category = category
          }
          // 推奨されていない
          $('#editModal').modal()
        },
        // 追加/更新
        addOrUpdate: function () {
          if (this.category.id) {
            axios.put(this.url, this.category).then(() => {
              this.afterEdit()
            }).catch((error) => {
              console.log(error)
            })
          } else {
            axios.post(this.url, this.category).then(() => {
              this.afterEdit()
            }).catch((error) => {
              console.log(error)
            })
          }
        },
        // 追加/更新の後実行する
        afterEdit: function () {
          $('#editModal').modal('hide')
          this.list(0)
          this.category = {}
        },
        // 削除モーダル
        openDeleteModal: function (id) {
          this.category.id = id
          $('#deleteModal').modal()
        },
        // 削除
        remove: function () {
          axios.delete(this.url + '/' + this.category.id).then(() => {
            $('#deleteModal').modal('hide')
            this.list(0)
          }).catch((error) => {
            console.log(error)
          })
        }
      }
    })
  })
</script>
<!-- end of vue js -->

</body>
</html>