<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="header::header('Blog 管理')">
</head>
<body class="sidebar-mini layout-fixed layout-navbar-fixed" style="height: auto">

<div id="index" class="wrapper">
  <!-- nav -->
  <div th:replace="navbar::nav('ダッシュボード')"></div>
  <!-- sidebar -->
  <div th:replace="sidebar::sidebar('index')"></div>

  <div class="content-wrapper">
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="card-header">
          <h3 class="card-title">管理ホーム</h3>
        </div>
        <div class="card-body">
          <div class="row" style="margin-top: 40px;border-top:0;">
            <div class="col-lg-4 col-6">
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>ブログ作成</h3>
                  <p>書きましょう！</p>
                </div>
                <div class="icon">
                  <i class="fa-solid fa-square-pen"></i>
                </div>
                <a th:href="@{/admin/blog}" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-6">
              <div class="small-box bg-gradient-success">
                <div class="inner">
                  <h3>{{ nums.blogs }}</h3>
                  <p>文章の総数</p>
                </div>
                <div class="icon">
                  <i class="nav-icon fa-solid fa-table-list" aria-hidden="true"></i>
                </div>
                <a th:href="@{/admin/blogs}" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-6">
              <div class="small-box bg-primary">
                <div class="inner">
                  <h3>{{ nums.categories }}</h3>
                  <p>カテゴリの総数</p>
                </div>
                <div class="icon">
                  <i class="nav-icon fa-solid fa-bookmark"></i>
                </div>
                <a th:href="@{/admin/categories}" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div th:replace="footer::footer"></div>
</div>

<script type="text/javascript">
  $(() => {
    let vm = new Vue({
      el: '#index',
      data: {
        url: 'data/index',
        nums: {}
      },
      mounted: function () {
        this.load()
      },
      methods: {
        load: function () {
          axios.get(this.url).then((response) => {
            this.nums = response.data.content
          })
        }
      }
    })
  })
</script>

</body>
</html>