<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="header::header('ログイン')">
</head>
<body class="login-body">

<div id="login" class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="clo-md-6 text-center mb-5">
                <h2>Blog 管理</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="clo-md-7 col-lg-5">
                <div class="wrap">
                    <div class="img"></div>
                </div>

                <div class="wrap">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">ログイン</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a class="social-icon d-flex justify-content-center align-items-center" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="social-icon d-flex justify-content-center align-items-center" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </p>
                            </div>
                        </div>

                        <form>
                            <div class="form-group mt-3">
                                <label for="name"></label>
                                <input id="name" class="form-control" style="height: 48px"
                                       type="text" placeholder="Username" v-model="user.name">
                            </div>
                            <div class="form-group">
                                <label for="password"></label>
                                <input id="password" class="form-control" style="height: 48px"
                                       type="password" placeholder="Password" v-model="user.password">
                            </div>
                            <div class="form-group">
                                <button type="button" class="form-control btn btn-primary"
                                        style="height: 48px" v-on:click="login()">ログイン
                                </button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50"></div>
                                <div class="w-50 text-md-right">
                                    <a href="#">パスワードを忘れ</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(() => {
        let vm = new Vue({
            el: '#login',
            data: {
                url: 'data/user',
                user: {}
            },
            methods: {
                login: function () {
                    console.log(this.user);

                    axios.post(this.url, this.user).then((response) => {
                        if (response.data.content === 'login success!') {
                            window.location.href = 'index';
                        }
                    });
                }
            }
        })
    });
</script>

</body>
</html>